@charset "UTF-8";
.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

.decorative-elements {
  display: block;
}

.decorative-elements-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share {
  width: 270px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  background-color: #ecf0f1;
}

.share b {
  margin-right: 15px;
  font-weight: normal;
  color: #7f8c8d;
  text-transform: uppercase;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #bdc3c7 url("../image/social.png") no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

.social-vk {
  background-color: #6d8fb3;
  background-position: 0 0;
}

.social-fb {
  background-color: #526da3;
  background-position: -40px 0;
}

.social-tw {
  background-color: #73bfe6;
  background-position: -80px 0;
}

.paginator {
  width: 280px;
  padding: 10px;
  white-space: nowrap;
  background-color: #ecf0f1;
}

.paginator a,
.paginator span {
  display: inline-block;
  min-width: 20px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  line-height: 40px;
  background-color: #95a5a6;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.paginator .prev {
  margin-right: 20px;
  background-image: url("../image/arrows.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -10000px;
}

.paginator .next {
  margin-left: 20px;
  background-image: url("../image/arrows.png");
  background-position: 0 -40px;
  background-repeat: no-repeat;
  text-indent: -10000px;
}

.paginator .current {
  background: #16a085;
}

.paginator .disabled {
  opacity: 0.3;
}

.paginator a:hover {
  background-color: #2ecc71;
}

.card {
  display: block;
  width: 200px;
  background-color: #1abc9c;
  padding: 10px 20px;
  color: white;
}

.card__title {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.card__title span {
  text-transform: uppercase;
}

.card__description {
  margin: 20px 0;
  font-weight: normal;
}

.card__share {
  display: block;
}

.share-link__social {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #16a085;
  margin: 10px 5px 7px 0;
  background-image: url("../image/social-challenge.png");
  background-repeat: no-repeat;
}

.share-link__social-fb {
  background-position: 0 0;
}

.share-link__social-tw {
  background-position: -30px 0;
}

.share-link__social-google {
  background-position: -60px 0;
}

.contacts {
  display: block;
  width: 250px;
  background-color: #f3f3f5;
  padding: 10px;
}

.contacts-title {
  font-size: 20px;
  color: #7f8c8c;
  margin-bottom: 20px;
  font-weight: bold;
}

.contacts-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.contacts-icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 22px;
  height: 32px;
  background-image: url("../image/contacts.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-location {
  background-position: 0 0;
}

.icon-phone {
  background-position: -30px 0;
}

.icon-email {
  background-position: -60px 0;
}

.contacts a {
  color: #e2534b;
}

.comment {
  color: #777777;
  position: relative;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.comment-avatar {
  width: 70px;
  height: 70px;
  background: #7f8c8c url("../image/avatar.png") no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: -5px;
  left: -40px;
}

.comment-author {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  padding-left: 45px;
  padding-right: 20px;
}

.comment-text {
  padding: 12px 0 12px 45px;
  background-color: #f8f8f8;
  border-bottom: 5px solid #e5e6e6;
}

.comment-date {
  font-size: 12px;
  color: #bdc3c7;
  margin-top: 5px;
}

.comment-reply {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-image: url("../image/reply.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.post {
  display: block;
  width: 500px;
  background-color: #ecf0f1;
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
}

.post-title {
  display: block;
  font-size: 20px;
  color: #2980b9;
  margin-left: 80px;
}

.post-date {
  display: inline-block;
  background-color: white;
  vertical-align: middle;
  padding: 15px 10px;
  border-bottom: 3px solid #000;
  position: absolute;
  top: 50px;
  left: 10px;
}

.post-author {
  color: #7f8c8d;
  margin-left: 80px;
}

.post-author a {
  text-decoration: none;
  color: #2980b9;
}

.post-stats {
  display: inline-block;
}

.post-stats a {
  text-decoration: none;
  color: #2980b9;
}

.icon {
  display: inline-block;
  margin-left: 80px;
  width: 15px;
  height: 15px;
  background-color: red;
  vertical-align: middle;
  background: url("../image/post-challenge.png") no-repeat;
}

.icon-tags {
  background-position: 0 0;
}

.icon-comments {
  background-position: -15px 0;
  margin-left: 0;
}

.post-text {
  position: relative;
  display: inline-block;
  width: 180px;
  margin-left: 80px;
  color: #7f8c8d;
  background-color: white;
  padding: 15px 15px;
  border-bottom: 5px solid #bdc3c7;
  font-size: 12px;
}

.post-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 55px;
  height: 55px;
  background: #7f8c8d url("../image/quotes.png") no-repeat 50% 50%;
}

body {
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;
}

.section-title {
  text-align: center;
}

.vertical-menu-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-menu {
  margin: 0;
  padding: 0px;
  list-style: none;
  width: 180px;
  padding: 0;
}

.main-menu li {
  margin-bottom: 0px;
}

.main-menu .active a {
  color: white;
  background-color: #0088cc;
}

.main-menu a:hover {
  background-color: #f5f5f5;
}

.main-menu a {
  display: block;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  margin-bottom: -1px;
  color: #0088cc;
  text-decoration: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 14px;
  width: 200px;
}

.menu li a {
  display: block;
  color: white;
  background-color: #2980b9;
  padding: 10px 15px;
  text-decoration: none;
  border-bottom: 2px solid #2c3e50;
}

.menu .active a {
  background-color: #1abc9c;
  border-color: #2ecc71;
}

.multilevel-menu {
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.multilevel-menu > li {
  border: 1px solid #e5e5e5;
  margin-bottom: -1px;
}

.multilevel-menu a {
  display: block;
  padding: 8px 14px;
  color: #0088cc;
  text-decoration: none;
}

.multilevel-menu a:hover {
  background-color: #f5f5f5;
}

.multilevel-menu > .active > a {
  color: white;
  background-color: #0088cc;
}

.multilevel-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px 0 5px 30px;
}

.multilevel-menu li li a {
  color: black;
  padding: 3px 0;
}

.multilevel-menu li li a:hover {
  background: none;
  text-decoration: underline;
}

.multilevel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
}

.multilevel ul {
  margin: 0;
  padding: 0px 0;
  list-style: none;
  background: white;
  padding: 10px 0;
  border-bottom: 2px solid #2c3e50;
}

.multilevel > .active > a {
  background: #1abc9c;
}

.multilevel a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  background: #2980b9;
  border-bottom: 2px solid #2c3e50;
}

.multilevel li li a {
  color: #2980b9;
  background: white;
  border: none;
  padding: 5px 0 5px 15px;
  text-decoration: underline;
}

.horizontal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.horizontal-menu li {
  display: inline-block;
  margin-right: 5px;
  margin-right: -4px;
  white-space: nowrap;
}

.horizontal-menu a {
  display: block;
  padding: 8px 10px;
  color: #0088cc;
  border-left: 1px solid #e5e5e5;
  margin-left: -1px;
}

.horizontal-menu a:hover {
  background-color: #eeeeee;
}

.horizontal {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #2980b9;
}

.horizontal li {
  display: inline-block;
  margin-right: 5px;
  margin-right: -3px;
}

.horizontal a {
  display: block;
  padding: 10px 15px;
  background: #2980b9;
  border-left: 2px solid #2c3e50;
  color: white;
  text-decoration: none;
}

.horizontal a:hover {
  background: #305269;
}

.horizontal .active a {
  background: #1abc9c;
}

.horizontal .active a:hover {
  background: #206154;
}

.dropdown-submenu-section-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropdown-menu {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-menu a {
  display: block;
  margin-bottom: -1px;
  padding: 8px 14px;
  color: #0088cc;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.dropdown-menu > li {
  position: relative;
}

/* Подменю */
.dropdown-menu .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fcf8e3;
  position: absolute;
  top: 5px;
  left: 240px;
  z-index: 10;
  width: 150px;
  display: none;
}

.dropdown-menu > li:hover .sub-menu {
  display: block;
}

.dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
}

.dropdown > li {
  position: relative;
}

.dropdown > li a {
  display: block;
  background: #2980b9;
  color: white;
  padding: 10px 0 10px 15px;
  text-decoration: none;
  border-bottom: 2px solid #2c3e50;
}

.dropdown > .open a {
  background: #1abc9c;
  border-color: #2ecc71;
}

.dropdown > .open > a {
  background: #1abc9c;
  border-color: #2c3e50;
}

.dropdown .submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0px;
  left: 180px;
  z-index: 10;
  width: 160px;
  background: #1abc9c;
}
