.decorative-elements {
   display: block;
}
.decorative-elements-wrapp {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.share {
   width: 270px;
   margin-top: 20px;
   padding: 10px;
   padding-left: 20px;

   background-color: #ecf0f1;
}

.share b {
   margin-right: 15px;

   font-weight: normal;
   color: #7f8c8d;
   text-transform: uppercase;
}
.social {
   display: inline-block;
   width: 40px;
   height: 40px;
   background: #bdc3c7 url("../image/social.png") no-repeat;
   margin-right: 10px;
   vertical-align: middle;
}
.social-vk {
   background-color: #6d8fb3;
   background-position: 0 0;
}

.social-fb {
   background-color: #526da3;
   background-position: -40px 0;
}

.social-tw {
   background-color: #73bfe6;
   background-position: -80px 0;
}
//paginator Переключатель страниц
.paginator {
   width: 280px;
   padding: 10px;
   white-space: nowrap;
   background-color: #ecf0f1;
}
.paginator a,
.paginator span {
   display: inline-block;
   min-width: 20px;
   height: 40px;
   padding: 0 10px;

   text-align: center;
   line-height: 40px;
   background-color: #95a5a6;
   vertical-align: middle;
   font-weight: bold;
   text-decoration: none;
   color: white;
}
.paginator .prev {
   margin-right: 20px;
   background-image: url("../image/arrows.png");
   background-repeat: no-repeat;
   background-position: 0 0;
   text-indent: -10000px;
}

.paginator .next {
   margin-left: 20px;
   background-image: url("../image/arrows.png");
   background-position: 0 -40px;
   background-repeat: no-repeat;
   text-indent: -10000px;
}
.paginator .current {
   background: #16a085;
}

.paginator .disabled {
   opacity: 0.3;
}

.paginator a:hover {
   background-color: #2ecc71;
}
// Испитания карточка курса
.card {
   display: block;
   width: 200px;
   background-color: #1abc9c;
   padding: 10px 20px;
   color: white;

   &__title {
      margin: 0;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 400;
      span {
         text-transform: uppercase;
      }
   }

   &__description {
      margin: 20px 0;
      font-weight: normal;
   }

   &__share {
      display: block;
   }
}
.share-link {
   &__social {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #16a085;
      margin: 10px 5px 7px 0;
      background-image: url("../image/social-challenge.png");
      background-repeat: no-repeat;
   }

   &__social-fb {
      background-position: 0 0;
   }

   &__social-tw {
      background-position: -30px 0;
   }

   &__social-google {
      background-position: -60px 0;
   }
}
// contacts
.contacts {
   display: block;
   width: 250px;
   background-color: rgb(243, 243, 245);
   padding: 10px;
}
.contacts-title {
   font-size: 20px;
   color: #7f8c8c;
   margin-bottom: 20px;
   font-weight: bold;
}
.contacts-item {
   position: relative;
   padding-left: 30px;
   margin-bottom: 10px;
}
.contacts-icon {
   position: absolute;
   top: 3px;
   left: 0;
   width: 22px;
   height: 32px;
   background-image: url("../image/contacts.png");
   background-repeat: no-repeat;
   background-position: 0 0;
}

.icon-location {
   background-position: 0 0;
}
.icon-phone {
   background-position: -30px 0;
}
.icon-email {
   background-position: -60px 0;
}
.contacts a {
   color: #e2534b;
}
// comments
.comment {
   color: #777777;
   position: relative;
   margin-top: 30px;
   margin-right: 20px;
   margin-left: 50px;
   margin-bottom: 30px;
}
.comment-avatar {
   width: 70px;
   height: 70px;
   background: #7f8c8c url("../image/avatar.png") no-repeat;
   background-position: 50% 50%;
   position: absolute;
   top: -5px;
   left: -40px;
}
.comment-author {
   font-size: 16px;
   font-weight: 700;
   margin-bottom: 5px;
   padding-left: 45px;
   padding-right: 20px;
}
.comment-text {
   padding: 12px 0 12px 45px;
   background-color: #f8f8f8;
   border-bottom: 5px solid #e5e6e6;
}
.comment-date {
   font-size: 12px;
   color: #bdc3c7;
   margin-top: 5px;
}
.comment-reply {
   position: absolute;
   top: 0;
   right: 0;
   width: 15px;
   height: 15px;
   background-image: url("../image/reply.png");
   background-repeat: no-repeat;
   background-position: 0 0;
}
//испитвния анонс поста
.post {
   display: block;
   width: 500px;
   background-color: #ecf0f1;
   position: relative;
   padding: 50px 0;
   margin: 0 auto;
}
.post-title {
   display: block;
   font-size: 20px;
   color: #2980b9;
   margin-left: 80px;
}
.post-date {
   display: inline-block;
   background-color: white;
   vertical-align: middle;
   padding: 15px 10px;
   border-bottom: 3px solid #000;
   position: absolute;
   top: 50px;
   left: 10px;
}

.post-type {
}
.post-author {
   color: #7f8c8d;
   margin-left: 80px;
   a {
      text-decoration: none;
      color: #2980b9;
   }
}
.post-stats {
   display: inline-block;

   a {
      text-decoration: none;
      color: #2980b9;
   }
}
.icon {
   display: inline-block;
   margin-left: 80px;
   width: 15px;
   height: 15px;
   background-color: red;
   vertical-align: middle;
   background: url("../image/post-challenge.png") no-repeat;
}
.icon-tags {
   background-position: 0 0;
}
.icon-comments {
   background-position: -15px 0;
   margin-left: 0;
}
.post-text {
   position: relative;
   display: inline-block;
   width: 180px;
   margin-left: 80px;
   color: #7f8c8d;
   background-color: white;
   padding: 15px 15px;
   border-bottom: 5px solid #bdc3c7;
   font-size: 12px;
}
.post-text::after {
   content: "";
   position: absolute;
   top: 0;
   left: -70px;
   width: 55px;
   height: 55px;
   background: #7f8c8d url("../image/quotes.png") no-repeat 50% 50%;
}
