@import "_container";
@import "_decorativeElements";

body {
   padding: 10px;
   font-size: 14px;
   line-height: 1.4;
   font-family: "Arial", sans-serif;
}
.section-title {
   text-align: center;
}
.vertical-menu-wrapp {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.main-menu {
   margin: 0;
   padding: 0px;
   list-style: none;

   width: 180px;

   padding: 0;
}
.main-menu li {
   margin-bottom: 0px;
}
.main-menu .active a {
   color: white;
   background-color: #0088cc;
}
.main-menu a:hover {
   background-color: #f5f5f5;
}

.main-menu a {
   display: block;
   padding: 8px 14px;
   border: 1px solid #e5e5e5;
   margin-bottom: -1px;
   color: #0088cc;
   text-decoration: none;
}
// ispitaniya
.menu {
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: 14px;
   width: 200px;
}
.menu li a {
   display: block;
   color: white;
   background-color: #2980b9;
   padding: 10px 15px;
   text-decoration: none;
   border-bottom: 2px solid #2c3e50;
}

.menu .active a {
   background-color: #1abc9c;
   border-color: #2ecc71;
}
// multilevel menu
.multilevel-menu {
   width: 180px;
   margin: 0;
   padding: 0;
   list-style: none;
}
.multilevel-menu > li {
   border: 1px solid #e5e5e5;
   margin-bottom: -1px;
}
.multilevel-menu a {
   display: block;

   padding: 8px 14px;
   color: #0088cc;
   text-decoration: none;
}

.multilevel-menu a:hover {
   background-color: #f5f5f5;
}

.multilevel-menu > .active > a {
   color: white;
   background-color: #0088cc;
}
.multilevel-menu ul {
   margin: 0;
   padding: 0;
   list-style: none;
   padding: 5px 0 5px 30px;
}
.multilevel-menu li li a {
   color: black;
   padding: 3px 0;
   &:hover {
      background: none;
      text-decoration: underline;
   }
}
// Ispiteniya multilevel menu
.multilevel {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 200px;
}

.multilevel ul {
   margin: 0;
   padding: 0px 0;
   list-style: none;
   background: white;
   padding: 10px 0;
   border-bottom: 2px solid #2c3e50;
}

.multilevel > .active > a {
   background: #1abc9c;
}

.multilevel a {
   display: block;
   padding: 10px 15px;
   color: white;
   text-decoration: none;
   background: #2980b9;
   border-bottom: 2px solid #2c3e50;
}
.multilevel li li a {
   color: #2980b9;
   background: white;
   border: none;
   padding: 5px 0 5px 15px;
   text-decoration: underline;
}
//horizontal-menu
.horizontal-menu {
   margin: 0;
   padding: 0;
   list-style: none;
   background-color: #f5f5f5;
   border: 1px solid #e5e5e5;
}

.horizontal-menu li {
   display: inline-block;
   margin-right: 5px;
   margin-right: -4px;
   white-space: nowrap;
}

.horizontal-menu a {
   display: block;
   padding: 8px 10px;
   color: #0088cc;
   border-left: 1px solid #e5e5e5;
   margin-left: -1px;
   &:hover {
      background-color: #eeeeee;
   }
}

//ispiteniya horizontal-menu
.horizontal {
   margin: 0;
   padding: 0;
   list-style: none;
   background: #2980b9;
}
.horizontal li {
   display: inline-block;
   margin-right: 5px;
   margin-right: -3px;
}
.horizontal a {
   display: block;
   padding: 10px 15px;
   background: #2980b9;
   border-left: 2px solid #2c3e50;
   color: white;
   text-decoration: none;
   &:hover {
      background: #305269;
   }
}

.horizontal .active a {
   background: #1abc9c;
   &:hover {
      background: #206154;
   }
}
//Вертикальное меню с выпадающим подменю
.dropdown-submenu-section-wrap {
   display: flex;
   justify-content: space-around;
}
.dropdown-menu {
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.dropdown-menu a {
   display: block;
   margin-bottom: -1px;
   padding: 8px 14px;
   color: #0088cc;
   text-decoration: none;
   border: 1px solid #e5e5e5;
}

.dropdown-menu a:hover {
   background-color: #f5f5f5;
}

.dropdown-menu > li {
   position: relative;
}

/* Подменю */

.dropdown-menu .sub-menu {
   margin: 0;
   padding: 0;
   list-style: none;
   background-color: #fcf8e3;
   position: absolute;
   top: 5px;
   left: 240px;
   z-index: 10;
   width: 150px;
   display: none;
}
.dropdown-menu > li:hover .sub-menu {
   display: block;
}
//Испитания вертикальное меню с выпадающим подменю
.dropdown {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 200px;
}
.dropdown > li {
   position: relative;
}
.dropdown > li a {
   display: block;
   background: #2980b9;
   color: white;
   padding: 10px 0 10px 15px;
   text-decoration: none;
   border-bottom: 2px solid #2c3e50;
}

.dropdown > .open a {
   background: #1abc9c;
   border-color: #2ecc71;
}
.dropdown > .open > a {
   background: #1abc9c;
   border-color: #2c3e50;
}

.dropdown .submenu {
   margin: 0;
   padding: 0;
   list-style: none;
   position: absolute;
   top: 0px;
   left: 180px;
   z-index: 10;
   width: 160px;
   background: #1abc9c;
}
